body {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	background-image: url('img/karo.png');
}

.day {
	width: 900px;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.6);
	border-style: dashed;
	border-width: 2px;
}

.dish {
	font-size: large;
	margin-left: 20px;
}

.dishtable {
	margin: 0px;
	width: 100%;
}

.priceCell {
	width: 80px;
	text-align: right;
}

h2 {
	font-family: 'Tangerine', cursive;
	padding: 5px;
	margin: 0px;
	line-height: 1;
	font-size: 48px;
}

textarea {
  width: 900px;
  padding: 5px;
  box-sizing: border-box;
  /*font-size: 14px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;*/
  background-repeat:no-repeat;
  background-size: 200px;
  background-position: center;
  resize: none;
}

#submit {
	margin-top: 40px;
	border-radius: 5px;
	/*background-color: #f2f2f2;*/
	padding: 20px;
}

input[type=password] {
  /*width: 100%;*/
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type=submit] {
  /*width: 100%;
  background-color: #4CAF50;*/
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#imageChef {
	margin: 10px;
	position: fixed;
	bottom: 10px;
	right: 10px;
	transition: opacity 0.3s;
}

#imageChef:hover {
	opacity: 0.3;
}

.logo {
	opacity: 0.5;
}
