body {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	background-image: url('img/bg_red.png');
}

#coord {
	position: fixed;
	bottom: 10px;
}

.day, #today {
	width: 900px;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.6);
	border-style: dashed;
	border-width: 2px;
}

#today {
	background-color: rgba(255, 255, 255, 1);
	border-style: solid;
}

.dish {
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
}

.addition {
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	margin-left: 10px;
}

.dishtable {
	margin: 0px;
	width: 100%;
	border-spacing: 0px 8px;
}

.priceCell {
	font-family: 'Tangerine', cursive;
	font-size: 32px;
	width: 80px;
	text-align: right;
}

.logoCell {
	width: 90px;
}

h1 {
	font-family: 'Tangerine', cursive;
	font-size: 60px;
}

h2 {
	font-family: 'Tangerine', cursive;
	padding: 5px;
	margin: 0px;
	line-height: 1;
	font-size: 48px;
}

textarea {
  width: 900px;
  padding: 5px;
  box-sizing: border-box;
  /*font-size: 14px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;*/
  background-repeat:no-repeat;
  background-size: 200px;
  background-position: center;
  resize: none;
}

#submit {
	margin-top: 40px;
	border-radius: 5px;
	/*background-color: #f2f2f2;*/
	padding: 20px;
}

input[type=password] {
  /*width: 100%;*/
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* https://www.bestcssbuttongenerator.com/#/9 */
.submitButton {
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	background-color:#d0451b;
	border-radius:3px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
}
.submitButton:hover {
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	background-color:#bc3315;
}
.submitButton:active {
	position:relative;
	top:1px;
}

#imageChef {
	margin: 10px;
	position: fixed;
	bottom: 10px;
	right: 10px;
	transition: opacity 0.3s;
}

@media screen and (max-height: 784px) {
	#imageChef {
		max-height: 50%;
	}
}
/*
@media screen and (max-width: 1200px) {
	#imageChef {
		opacity:0.15;
	}
}*/

.logo {
	height: 16px;
	opacity: 0.5;
}

/* https://www.w3schools.com/css/css_tooltip.asp */
.tooltip {
	position: relative;
	display: inline-block;
	color: #333;
	font-size: small;
	border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
	visibility: hidden;
	width: 450px;
	top: 100%;
	left: 50%;
	margin-left: -225px; /* Use half of the width (120/2 = 60), to center the tooltip */
	background-color: #333;
	/* opacity: 0.9; */
	color: #fff;
	font-size: small;
	font-style: italic;
	text-align: left;
	padding: 8px;
	border-radius: 6px;
   
	/* Position the tooltip text - see examples below! */
	position: absolute;
	z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
	visibility: visible;
  }
