body {
	font-family: 'Tangerine', cursive;
	text-align: center;
	font-size: 30px;
	background-image: url('img/karo.png');
}

.day {
	width: 900px;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.6);
	border-style: dashed;
	border-width: 2px;
}

.dish {
	margin-left: 20px;
}

.dishtable {
	margin: 0px;
	width: 100%;
}

.priceCell {
	width: 80px;
	text-align: right;
}

h2 {
	padding: 5px;
	margin: 0px;
	line-height: 1;
	font-size: 48px;
}

textarea {
  width: 900px;
  padding: 5px;
  --box-sizing: border-box;
  --font-size: 14px;
  --border: 2px solid #ccc;
  --border-radius: 5px;
  --background-color: #f8f8f8;
  resize: none;
}

#submit {
	margin-top: 40px;
	border-radius: 5px;
	--background-color: #f2f2f2;
	padding: 20px;
}

input[type=password] {
  --width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  --box-sizing: border-box;
}

input[type=submit] {
  --width: 100%;
  background-color: #F9E6E6;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: 2px;
  border-radius: 4px;
  border-color: #F7D4D3;
  cursor: pointer;
}

input[type=submit]:hover {
  --background-color: #45a049;
}

#imageChef {
	margin: 10px;
	position: absolute;
	bottom: 10px;
	right: 10px;
	transition: opacity 0.3s;
}

#imageChef:hover {
	opacity: 0.3;
}